<launch>
    <arg name="new_topic_name" default="new_chatter" />

    <node name="receiver" pkg="study_pkg" type="receiver.py" output="screen">
        <remap from="chatter" to="$(arg new_topic_name)"/>
    </node>
    <node name="sender" pkg="study_pkg" type="sender.py" output="screen">
        <remap from="chatter" to="$(arg new_topic_name)"/>
    </node>
</launch>
